{% extends "base.html" %}
{% load static %}

{% block envelope %}{% include "core/partials/_envelope.html" %}{% endblock %}

{% block content %}
  {% include "core/partials/_hero.html" %}
  <div class="seam" aria-hidden="true"></div>
  {% include "core/partials/_details.html" %}
  <div class="seam" aria-hidden="true"></div>
  {% include "core/partials/_greeting_form.html" %}
  <div class="seam" aria-hidden="true"></div>
  {% include "core/partials/_wall.html" %}
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/countdown.js' %}" defer></script>
  <script src="{% static 'js/main.js' %}" defer></script>
  <script src="{% static 'js/envelope.js' %}" defer></script>
  <script src="{% static 'js/suggestions.js' %}" defer></script>
  <script src="{% static 'js/cards.js' %}" defer></script>
{% endblock %}
